{% extends 'blog/base.html' %}

{% block title %}
All Posts
{% endblock %}

{% block content %}
	<div class="title container text-center mt-4">All posts ( {{ posts }} )</div>
	<section class="container">
		<div class="d-flex justify-content-between flex-wrap">
		{% for post in posts %}
		
		{% include 'blog/include/post_card.html' %}

		
		{% endfor %}
		</div>
		{% if posts.has_other_pages %}
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item {% if not posts.has_previous %}disabled {% endif %}">
					<a class="page-link" href="?page={{ posts.number|add:-1 }}" tabindex="-1" aria-disabled="true">Previous</a>
				</li>
				{% for n in pagin.page_range %}
				{% if n == 1 or posts.number|add:-1 <= n and n <= posts.number|add:1 or  n == pagin.num_pages %}
				<li class="page-item  {% if n == posts.number %} active {% endif %}"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
				{% endif %}
				{% endfor %}
				<li class="page-item {% if not posts.has_next %} disabled {% endif %}">
					<a class="page-link" href="?page={{ posts.number|add:1 }}">Next</a>
				</li>
			</ul>
		</nav>
		{% endif %}
	</section>
{% endblock %}