{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
	{{ posts.title }}
{% endblock %}

{% block content %}

<section class="container">
	<div class="card mt-5">
		<div class="card-header justify-content-between py-1 d-flex">
			<div style="color: blue; font-size: 20px;" class="my-auto">{{ posts.autor }}</div>
			<div style="color: blue;" class="my-auto">{{ posts.create_date }}</div>
		</div>
		<div class="card-body">
			<h5 class="card-title">{{ posts.title }}</h5>
			<p class="card-text">{{ posts.body }}</p>
		</div>
		<div class="card-footer text-muted">
			Тэги: 
			{% for tag in posts.tags.all %}
			<a href="{{ tag.get_main_url }}">{{tag.title}}</a>
			{% endfor %}
		</div>
	</div>
	<div class="comments">
		{% if user.is_authenticated %}
		<div class="new-commenet mt-2">
			<form action="{{ obj.get_main_url }}" method="POST">
				{% csrf_token %}
				<div class="row justify-content-center">
					<div class="col-6">
						{{ form }}
						<button class="btn btn-info mt-1"> Commenting</button>
					</div>
				</div>
			</form>   
		</div>
		{% endif %}
		<div class="comment-list">
			{% if comments %}
			<div style="font-weight: bolder;" class="mt-3">Comments ({{ comments.count }}) :</div>
			{% for comment in comments %}
			<div style="" class="m-1 p-1">
				<div style="color: blue; word-wrap: inherit;">{{ comment.author }}:</div>
				<div>{{ comment.comment }}</div>
			</div>
			{% endfor%}
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}
